* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
/*
 @CSS排序：
   1.布局 position / top / right / bottom / left / float / display / overflow
   2.尺寸 border / margin / padding / width / height
   3.文本 font / line-height / text-align / word-wrap
   4.视觉 background / color / transition / list-style
*/

body{
    font-family: "Trebuchet MS", "Arial Black", Wingdings;
}
.nav{
    padding-left: 40px;
    padding-top: 10px;
    width: 1130px;
    height: 50px;

    font-weight: 700;
    font-size: 20px;

    background-color: #858585;
    border-right: 1px solid #d8d8d8;
    color: #ffffff;
}

section{
    float: left;

    padding-top: 50px;
    height: 150px;
    width: 150px;
    border-bottom: 1px solid;


    text-align: center;

    background-color:#D6D6D6;
}

.box{
    float: left;

    width: 130px;
    height: 550px;
    /*background-color: black;*/
}
.box_A{
    float: left;

    width: 50%;
    height: 50px;
    /*background-color: #65a5FA;*/
}
aside{
    float: left;
    display: block;

    padding-left: 22px;
    padding-top: 10px;

    width: 1000px;
    height: 150px;

    /*background-color: #858585;*/
    border-bottom: 1px solid;
}

span{
    padding: 10px;
    /*background-color: #65a5FA;*/
}

.nav,
aside{
    border-right: 1px solid #d8d8d8;
}

section{
    font-weight: 700;
}